.m_asknav_back {
  width: 100%;
  height: 46.5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.4%;
  border-top: solid 0.3px rgba(30, 51, 84, 0.3);
  border-bottom: solid 0.3px rgba(30, 51, 84, 0.3);
}

.m_asknav_title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.7px;
  text-align: left;
  color: #1f3354;
}