.mobile-navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  background-color: white;
  z-index: 50;
}
.mobile-logo {
  height: 30px;
  margin-right: 14px;
}
.mobile-tricolor {
  height: 50px;
}
