.nav-link {
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  line-height: 1.2;
  color: #1f3354 !important;
  text-decoration: none;
  margin-right: 48px;
  font-weight: bold;
}

.dropdownMenu {
  width: 132px;
  height: 70px;
  border: solid 1px #f5b1ad !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  font-size: 1.5rem !important;
  line-height: 1.2 !important;
  margin-right: 60px !important;
}
.message_img {
  width: 3.6rem;
  padding-top: 0 !important;
}
