.dcard {
  border-radius: 5px;
  border: solid 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  color: #1f3354;
}
.dcard_selected {
  border: solid 3px #dd6866;
}

.dcard_date {
  font-weight: bold;
  font-size: 1.8rem;
}
.dcard_services {
  font-size: 1.4rem;
  font-weight: bold;
}
.dcard_must {
  color: #4c91ba;
}
.dcard_no {
  color: #dd6866;
}
