.toolbar {
  margin: 19px 0;
  width: 100%;
  background-color: white;
}

.logo {
  height: 38.9px;
}

@media screen and (max-width: 992px) {
  .logo {
    margin-right: 40px;
  }
}

.tricolor {
  height: 77px;
}

.collapse,
.collapsing {
  text-align: center;
}

.navbar-light .navbar-toggler {
  border: none;
  font-size: 2rem;
}
