.toolbar {
  margin: 19px 0;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 38.9px;
  margin-left: 55px;
}

@media screen and (max-width: 992px) {
  .logo {
    margin-right: 40px;
    margin-left: 0;
  }
}

.tricolor {
  height: 77px;
}

.collapse,
.collapsing {
  text-align: center;
}

.navbar-light .navbar-toggler {
  border: none;
  font-size: 2rem;
}

/* todo: 툴바 내부에 드롭다운 조정 */
