.m_containerStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .carousel-item {
    height: calc(100vh - 55px);
  }
}
