.tc_button {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-top: 30vh;
  cursor: pointer;
}
.tc_button_purchase {
  border-radius: 5px;
  background-color: #4c91ba;
  width: 10rem;
  color: white;
  cursor: pointer;
}
