.un_bg {
  width: 10%;
  height: 293px;
  position: relative;
  z-index: 4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  left: 8.75%;
}
