/* AddDesigner.js */

.container-fluid.ad {
  width: 50%;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container-fluid.ad {
    width: 75%;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .container-fluid.ad {
    width: 90%;
    align-items: center;
  }
}

.ad_button {
  width: 100%;
  height: 39px;
  border-radius: 6px;
  background-color: #4c91ba;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  font-family: NanumSquareEB;
}
.ad_title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
  color: #4c91ba;
  margin-bottom: 2.8rem;
  margin-left: 27%;
}

/* DesignerList.js */

.container-fluid.dl {
  width: 92%;
  align-items: center;
}

/* Message.js */

.container-fluid.me {
  background-color: rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.me_bg {
  width: 80.8%;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  min-height: 70vh;
  margin: 21px auto 69px auto;
  padding: 2%;
}

.me_title {
  /* font-family: NanumSquareEB; */
  font-size: 1.5rem;
  line-height: 1.13;
  letter-spacing: 0.08rem;
  color: #1f3354;
  font-weight: bold;
}

/* Reservation.js */

.r_button {
  width: 15vw;
  height: 7vh;
  border-radius: 5px;
  background-color: #dd6866;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7vw;
  letter-spacing: 0.17rem;
  margin: 54.1px auto 0 auto;
  cursor: pointer;
}

/* ReservationConfirm.js */

.rc_h1 {
  font-family: NanumSquareR;
  font-size: 3.8rem;
  line-height: 1.13;
  letter-spacing: 0.19rem;
  color: #1e3354;
}

.rc_h2 {
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  color: #4c91ba;
  margin-top: 9px;
  font-family: NanumSquareEB;
}

.rc_h3 {
  font-size: 1.7rem;
  line-height: 1.12;
  letter-spacing: 0.09rem;
  color: #1e3354;
  margin-top: 40.3px;
  margin-bottom: 62px;
  font-family: NanumSquareEB;
}

.rcf_button {
  width: 10%;
  height: 2.3rem;
  border-radius: 5px;
  border: solid 1px #dd6866;
  background-color: white;
  color: #dd6866;
  font-size: 1.5rem;
  padding: 5px 14.5px;
}
