/* About.js */
.about_1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1.8px;
  text-align: center;
  color: #1f3354;
}

.about_bar {
  margin: 59px auto;
  width: 57px;
  border: solid 2px #d3d2d2;
}

.about_2 {
  font-size: 1.7rem;
  line-height: 1.65;
  letter-spacing: 0.9px;
  color: #1f3354;
}

.about_highlight {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #dd6866;
  background-color: #ffe8e5;
}

.about_backImg {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 59px;
}

.about_textBack {
  z-index: 5;
  height: 529px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 64px;
  margin-top: 30px;
  background-image: linear-gradient(
    258deg,
    rgba(255, 255, 255, 0),
    rgba(19, 19, 19, 0.35) 47%,
    rgba(30, 34, 39, 0.37)
  );
}

.about_textOnImg {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.45;
  text-align: left;
  color: #ffffff;
}

.about_profileBack {
  display: flex;
  justify-content: left;
  height: 53px;
  margin-bottom: 40px;
}

.about_profile {
  font-size: 1.5rem;
  line-height: 1.47;
  text-align: left;
  color: #1f3354;
}

/* AddDesigner.js */

.container-fluid.ad {
  width: 60%;
  align-items: center;
}

.ad_button {
  width: 100%;
  height: 39px;
  border-radius: 6px;
  background-color: #4c91ba;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  font-weight: bold;
  cursor: pointer;
}
.ad_title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
  color: #4c91ba;
  margin-bottom: 2.8rem;
  margin-left: 27%;
}

/* DesignerList.js */

.container-fluid.dl {
  width: 92%;
  align-items: center;
}

/* Message.js */

.container-fluid.me {
  background-color: rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.me_bg {
  width: 80.8%;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  min-height: 70vh;
  margin: 21px auto 69px auto;
  padding: 2%;
}

.me_title {
  /* font-family: NanumSquareEB; */
  font-size: 1.5rem;
  line-height: 1.13;
  letter-spacing: 0.08rem;
  color: #1f3354;
  font-weight: bold;
}

/* Landing.js */
.landing_imgback {
  width: 100%;
  height: 800px;
  background: transparent;
  position: absolute;
  z-index: 100;
  padding-top: 390px;
  padding-left: 65px;
  /* padding: 217.9px 226px; */
}

.linkdeco:hover {
  text-decoration: none;
}

.landing_caption {
  width: fit-content !important;
  position: absolute !important;
  bottom: 380px !important;
  left: 65px !important;
  text-align: left !important;
}

.landing_caption h3 {
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5) !important;
  font-size: 3.9rem !important;
  font-weight: bold !important;
  line-height: 1.36 !important;
  letter-spacing: 2px !important;
  color: #ffffff;
}

.landing_ctitle {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 39px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 35.9px;
}

.landing_cbutton {
  width: fit-content;
  padding: 8.5px 22px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dd6866;
  background-color: #dd6866;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.28;
  letter-spacing: 0.9px;
  color: #ffffff;
  margin-bottom: 246px;
}

.landing_dbutton {
  width: fit-content;
  padding: 8.5px 22px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dd6866;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.28;
  letter-spacing: 0.9px;
  color: #dd6866;
  margin-bottom: 246px;
}

.landing_ctext {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 0.8px;
  color: #f8f8f9;
  margin-bottom: 10px;
}

.landing_back {
  width: 100%;
  height: 683px;
  background-color: #f8f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 217.9px 226px; */
}

.landing_back.e {
  background-color: white;
}

.landing_back.b {
  background-color: #393939;
}

.landing_grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.landing_title {
  width: fit-content;
  font-size: 3.9rem;
  line-height: 1.23;
  letter-spacing: 2px;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
  color: #1f3354;
  margin-bottom: 49.7px;
}

.landing_content {
  font-size: 1.7rem;
  line-height: 1.71;
  letter-spacing: 0.9px;
  color: #1f3354;
}

.landing_imgcontainer {
  display: flex;
  align-items: center;
}

.landing_text {
  font-size: 1.8rem;
  line-height: 1.72;
  letter-spacing: 0.9px;
  text-align: center;
  color: #f8f8f9;
}

.carousel-inner {
  border-radius: 0px !important;
}

/* Reservation.js */

.r_button {
  width: 15vw;
  height: 7vh;
  border-radius: 5px;
  background-color: #dd6866;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7vw;
  letter-spacing: 0.17rem;
  margin: 54.1px auto 0 auto;
  cursor: pointer;
  cursor: pointer;
}

/* ReservationConfirm.js */

.rc_h1 {
  font-size: 3.8rem;
  line-height: 1.13;
  letter-spacing: 0.19rem;
  color: #1e3354;
}

.rc_h2 {
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  color: #4c91ba;
  margin-top: 9px;
}

.rc_h3 {
  font-size: 1.7rem;
  line-height: 1.12;
  letter-spacing: 0.09rem;
  color: #1e3354;
  margin-top: 40.3px;
  margin-bottom: 62px;
  font-weight: bold;
}

.rcf_button {
  width: 10%;
  height: 2.3rem;
  border-radius: 5px;
  border: solid 1px #dd6866;
  background-color: white;
  color: #dd6866;
  font-size: 1.5rem;
  padding: 5px 14.5px;
  cursor: pointer;
}
.chat_box {
  border-radius: 5px;
  border: solid 1.5px rgba(0, 0, 0, 0.1);
}
.chat_title {
  color: #1f3354;
  font-size: 1.1rem;
  padding: 1.5rem;
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.1);
}
.chat_content {
  padding: 2rem 1.5rem;
}
.chat_back_1 {
  display: flex;
  justify-content: flex-start;
}
.chat_back_2 {
  display: flex;
  justify-content: flex-end;
}
.chat_bubbleBack_1 {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat_bubbleBack_2 {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_bubbleBack_2 .d-flex {
  flex-direction: row-reverse;
}

.chat_bubble_1 {
  min-width: 110px;
  background-color: rgba(193, 228, 235, 0.5);
  padding: 1.5rem;
  width: fit-content;
  border-radius: 5px;
  font-size: 1.3rem;
}
.chat_bubble_2 {
  min-width: 110px;
  background-color: rgba(245, 177, 173, 0.5);
  padding: 1.5rem;
  width: fit-content;
  border-radius: 5px;
  font-size: 1.3rem;
}
.chat_time {
  color: #1f3354;
  font-size: 0.9rem;
  float: right;
  margin: 0 10px;
}
.chat_new {
  color: #dd6866;
  margin: auto 3px 0 3px;
}
.chat_bottom {
  border-top: solid 1.5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}
.chat_button {
  border-radius: 5px;
  border: solid 1px #dd6866;
  background-color: #ffffff;
  text-align: center;
  color: #dd6866;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 0.8rem;
  cursor: pointer;
}
.chat_attach {
  width: 1rem;
  padding-top: 0.6rem;
  margin-left: 0.5rem;
}
.chat_profile {
  width: 70%;
}
.chat_report {
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: #1f3354;
  font-size: 1.2rem;
}

/* WhyDreamary.js */

.d_container.why {
  padding: 58.9px 0 173.6px 0;
  width: 100%;
}

.why_1 {
  font-size: 3.5rem;
  line-height: 1.6;
  letter-spacing: 1.8px;
  color: #1f3354;
  margin-bottom: 85.9px;
}

.why_1.p {
  width: fit-content;
  background-color: #dd6866;
  font-weight: bold;
  color: white;
  margin-top: 114.4px;
  margin-bottom: 0;
  margin-left: 75px;
  padding: 0 9px;
}

.why_back {
  width: 100%;
  background-color: #dd6866;
  position: relative;
  padding-top: 86px;
  align-items: center;
}

.why_back.g {
  height: 730px;
  background-color: #4d4d4d;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why_button {
  width: 29.29%;
  height: 75px;
  border-radius: 38px;
  box-shadow: 2px 2px 12px 0 rgba(87, 87, 87, 0.48);
  border: solid 5px #dd6866;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: 1.4px;
  color: #dd6866;
  position: absolute;
  top: -37.5px;
  left: 35.8%;
}

.why_content1 {
  font-size: 2.3rem;
  line-height: 1.61;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.why_content2 {
  width: fit-content;
  font-size: 2.3rem;
  line-height: 1.61;
  letter-spacing: 1.2px;
  color: #1f3354;
  margin: 70px auto;
}

.why_roundBack {
  width: 93.1%;
  padding: 43px 52px;
  height: fit-content;
  border-radius: 116px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.why_roundText {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #f8f8f9;
}

.why_content3 {
  font-size: 2.5rem;
  line-height: 1.48;
  letter-spacing: 2.5px;
  color: #1f3354;
}

.why_content4 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  text-align: center;
  color: #dd6866;
  margin-top: 46px;
  margin-bottom: 92.3px;
}

.why_content2.c {
  margin: 0 47.5px;
  text-align: left;
}

.why_button2 {
  width: 29.29%;
  height: 75px;
  border-radius: 38px;
  background-color: #dd6866;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: 1.4px;
  text-align: center;
  color: #f8f8f9;
  margin: 143px auto 100px auto;
}

.why_button2:hover {
  text-decoration: none;
}

.why_imgBack {
  position: relative;
  margin: 67px 0 126px 0;
}

.why_imgText {
  width: fit-content;
  font-size: 5.5rem;
  line-height: 1.56;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why_imgText2 {
  font-size: 1.6rem;
  line-height: 1.56;
  letter-spacing: 0.8px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  right: 11px;
}

.carousel {
  height: calc(100vh - 60px);
}
