.rd_back {
  padding: 3rem;
  padding-left: 9rem !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .rd_back {
    padding-left: 6rem !important;
  }
}
.rd_title {
  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: 0.07rem;
  color: #dd6866;
  margin-bottom: 9px;
  font-weight: bold;
}

.rd_content {
  /* font-family: NanumSquareR; */
  font-size: 1.3rem;
  line-height: 1.54;
  letter-spacing: 0.07rem;
  color: #2b2e34;
  margin-bottom: 22px;
}
