input[type='radio'].genderRadio {
  position: absolute;
  visibility: hidden;
  display: none;
}

.gradio {
  width: 35px;
  height: 33px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #1f3354;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.08;
  font-size: 1.3rem;
  margin-right: 5px;
  cursor: pointer;
}

.gradio.active {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type='date'] {
  width: 100%;
  height: 33.4px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

select {
  width: 100%;
  height: 33.4px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.filterTitle {
  font-size: 1.1rem;
  line-height: 1.09;
  color: #dd6866;
  margin-bottom: 4px;
  margin-top: 22px;
}

.filterButton {
  height: 33px;
  border-radius: 5px;
  background-color: #dd6866;
  color: white;
  font-size: 1.3rem;
  line-height: 1.08;
  letter-spacing: 0.13rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10.8px;
}

.filterRefresh {
  height: 33px;
  border-radius: 5px;
  border: 1px solid #dd6866;
  background-color: white;
  color: #dd6866;
  font-size: 1.3rem;
  line-height: 1.08;
  letter-spacing: 0.13rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10.8px;
}

.filter-responsive {
  height: 200px;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #dd6866;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #dd6866;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;

  background: #dd6866;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #dd6866;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type='range']::-ms-fill-upper {
  background: #dd6866;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type='range']::-ms-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}
input[type='range']:focus::-ms-fill-lower {
  background: #dd6866;
}
input[type='range']:focus::-ms-fill-upper {
  background: #dd6866;
}
