.mobile-sub-menu {
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.1);
}

.unav_navitem {
  width: fit-content;
  height: 29px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.2);
}
