.cc_bg {
  height: 340px;
  border-radius: 5px;
  background-image: linear-gradient(
    138deg,
    #fffae3,
    #ffefe3 52%,
    #ffeee3 59%,
    #ffe8e3
  );
  color: #1f3354;
  text-align: center;
  padding: 9% 0;
}
.cc_1 {
  font-size: 2.7rem;
  line-height: 1.23;
  letter-spacing: 0.02rem;
  margin-bottom: 3.1%;
}
.cc_2 {
  font-size: 3.4rem;
  line-height: 1.14;
  letter-spacing: 0.26rem;
  margin-bottom: 3.1%;
}
.cc_3 {
  font-size: 1.1rem;
  line-height: 1.12;
  letter-spacing: 0.17rem;
  margin-bottom: 3.1%;
}
.cc_coupon {
  width: 23%;
  position: relative;
  z-index: 1;
}
.cc_num {
  top: -4.1rem;
  position: relative;
  z-index: 5;
  font-size: 1.9rem;
  line-height: 1.14;
  letter-spacing: 0.14rem;
  color: #dd6866;
  font-weight: bold;
  margin: auto;
}
.cc_num.d {
  color: #4c91ba;
  top: -4.9rem;
}
.cc_bg_designer {
  height: 39rem;
  border-radius: 5px;
  background-image: linear-gradient(304deg, #fffae3, #d2e3e8);
  color: #1f3354;
  text-align: center;
  padding: 9.2% 0;
}
